<div>
    <app-menu />
    <h3>User View</h3>

    <main> 
        <table class = "table table-sm"> <!--table table-sm makes the data appear closer togethter-->
            <tbody>
                <tr>
                    <td>Id</td>
                    <td><input [(ngModel)]="user.id" disabled /></td> <!--input only has an opening tag no closing tag-->

                </tr>
                <tr>
                    <td>LastName</td>
                    <td><input [(ngModel)]="user.lastname" [disabled]="isReadonly" /></td> <!--if readonly is true then disabled takes affect and doesnt allow input-->
                    
                </tr>
                <tr>
                    <td>FirstName</td>
                    <td><input [(ngModel)]="user.firstname" [disabled]="isReadonly" /></td>
                    
                </tr>
                <tr>
                    <td>UserName</td>
                    <td><input [(ngModel)]="user.username" [disabled]="isReadonly" /></td>
                    
                </tr>
                <tr [hidden]="isHidden">
                    <td>Password</td>
                    <td><input [(ngModel)]="user.password" [disabled]="isReadonly" /></td>
                    
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input [(ngModel)]="user.phone" [disabled]="isReadonly" /></td>
                    
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input [(ngModel)]="user.email" [disabled]="isReadonly" /></td>
                    
                </tr>
                <tr>
                    <td>Reviewer?</td>
                    <td><input [(ngModel)]="user.isReviewer" type ="checkbox" [disabled]="isReadonly" /></td>
                    
                </tr>
                <tr>
                    <td>Admin?</td>
                    <td><input [(ngModel)]="user.isAdmin" type = "checkbox" [disabled]="isReadonly" /></td>
                    
                </tr>
            </tbody>

        </table>
        <div>
            <button (click)="toggleVerifyRemove()" class="btn btn-danger">Delete</button> <!--when they click the button run the method then the class= is styling the button-->
            <span *ngIf="verifyRemove">
                <span> | </span>
                <button (click) = "remove()" class = "btn btn-danger">Verify Delete</button>
            </span>
        </div>
    </main>
</div>

